.slider {
	&__left-arrow-btn,
	&__right-arrow-btn {
		background-color: $bg-color;
		border: 0;
		border-radius: 50px;
		height: 5vw;
		position: absolute;
		top: 2.5vw;
		width: 5vw;

		&__left,
		&__right {
			color: $arrow-color;
			cursor: pointer;
			font-size: $arrow-size;
		}
	}

	&__left-arrow-btn {
		left: 1vw;
	}

	&__right-arrow-btn {
		right: 1vw;
	}
}

@include breakpoint(md) {
	.slider {
		&__left-arrow-btn,
		&__right-arrow-btn {
			top: 5vw;
		}
	}
}

@include breakpoint(sm) {
	.slider {
		&__left-arrow-btn,
		&__right-arrow-btn {
			height: 10vw;
			top: 20vw;
			width: 10vw;

			&__left,
			&__right {
				font-size: 8vw;
			}
		}
	}
}
